#
.idea/
.vscode/
__pycache__/
.ipynb_checkpoints/

stemSkel/StemSkeletonization_for_iterative.py
stemSegment/stem_segmentation.py
stemSegment/segmentAnything.py

# Ignore all image files
*.png
*.jpg

# Ignore output
output/
test/
sam2/
segment_anything_2_tracking_demo/

# Ignore model file
sam2.1_l.pt
