#
.idea/
.vscode/
__pycache__/
.ipynb_checkpoints/

# Ignore all archived files
archive/

misc/diameter_analysis_plot.ipynb
misc/diameter_analysis_plot.svg

# Ignore all image files
./*.png
*.jpg

# Ignore output
output/
test/
sam2/
segment_anything_2_tracking_demo/
data/

# Ignore model file
sam2.1_l.pt
kpd_1.pt
